<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %} {% endblock title %} | Spell Checker
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg" style="background-color: #cc7f9d;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="\static\images\logo.png" alt="Logo" width="45" height="36" class="d-inline-block align-text-top">
                <span class="navbar-text" style="color: #FBEAE7; font-style: italic;">
                    Spell Checker
                </span>
              </a>
            </div>
        <div class="container-fluid">
            <a class="navbar-brand" href="https://www.linkedin.com/in/mukul-jain-412147220/">Contact</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="aboutUS">About US</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Auto Suggestion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    {% block baseFile %}



    
    {% endblock baseFile %}
   
    <!-- Footer -->
    <!-- <div class="b-example-divider"></div> -->

    <div class="container footer fixed-bottom">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Spell Checker, Inc</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/mukul.jain_07?igsh=MXdmMmR5bTBnY2lqYQ%3D%3D&utm_source=qr "><img src="/static/images/instagram.png" alt="instagram" class="bi" width="24" height="24"></a></li>
          <li class="ms-3"><a class="text-muted" href="mailto:mukulj2018@gmail.com"><img src="/static/images/gmail.png" alt="email" class="bi" width="24" height="24"></a></li>
          <li class="ms-3"><a class="text-muted" href="https://wa.me/9354948199"><img src="/static/images/whatsapp.png" alt="whatsapp" class="bi" width="24" height="24"></a></li>
        </ul>
      </footer>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>

